.logos-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20em;
    margin-bottom: 1em;
}

canvas {
    width: 100vw;
    height: 100vh;
}

body {
    background: #73FFF1;
}

.instructions {
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 40vh;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

.instructions.fade-out {
    opacity: 0;
}

.instructions .text {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    opacity: 0;
    transition-delay: 0.5s;
}

.instructions .text.fade-in {
    opacity: 1;
}
