.logos-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20em;
    margin-bottom: 1em;
}

canvas {
    width: 100vw;
    height: 100vh;
}
